/* Path: SemaAPI\static\assets\styles\styles.css */ 

body {
    background-color: #1C2833;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #17202A;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    position: relative;
    z-index: 1;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: all .3s;
}
nav a:hover {
    color: #fff;
    background-color: #2E4053;
    border-radius: 4px;
}


.brand {
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    margin-right: 10px;
}
.brand-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.logo2  {
    width: 25%;
    margin-left: 100px;
    margin-top: 5%;
}

.logo3 {
    width: 35%;
    margin-left: 60px;
    height: 650px;
}


h2.title {
    font-size: 29px;
    margin-left: 7%;
}

.container-propos-title{
    font-size: 40px;
    margin-left: 13%;
    font-weight: bold;
}

.container-propos-title2{
    font-weight: bold;
}


.container-propos-title3{
    font-weight: bold;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; /* pour centrer verticalement */
    justify-content: center; /* pour centrer horizontalement */
    background-color: #17202A;
    color: #fff;
    padding: 10px;
}


.container{
    position: absolute;
    top: 20%;
    left: 40%;
    border: 3px solid #17202A;
    padding: 20px;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 3%;
}

div.container-title{
    margin-left: 13%;
    text-decoration: underline;
    font-size: 30px;
}

div.container-body{
    font-size: 25px;
}

.container-propos-body{
    position: fixed;
    top: 10%;
    left: 37%;
}

container-propos-title{
    margin-left: 13%;
    text-decoration: underline;
    font-size: 40px;
}


.container-dev {
  display: flex;
  flex-wrap: nowrap;

}

.name-container {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.logo-social {
    width: 35px;
    margin-right: 10px;
}

.logo-social-container {
    display: flex;
    flex-direction: row;
}

.name{
    padding-right: 20px;
    font-size: 20px;
    width: 190px;
    padding-bottom: 10px;
}

.materiel-body-container{
    background-color: #212F3D;
    border-radius: 20px 20px 20px 20px;
    height: 600px;
    width: 400px;
    margin-left: 100px;
    margin-top: 50px;
}

.materiel-body{
    margin-left: 50px;
}

.logo-information{
    width: 50px;
    margin-right: 10px;
}

.title-materiel-body-container{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 10px 10px;
    background: #273746;
    height: 70px;
    width: 400px;
}

.A-materiel-body-container{
  margin-bottom: 40px;
}
