/* Path: SemaAPI\static\assets\styles\styles.css */ 

body {
    background-color: #1C2833;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #17202A;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    z-index: 1;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: all .3s;
}
nav a:hover {
    color: #fff;
    background-color: #2E4053;
    border-radius: 4px;
}


.brand {
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    margin-right: 10px;
}
.brand-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.logo2  {
    width: 25%;
    margin-left: 100px;
    margin-top: 5%;
}

.logo3 {
    display: flex;
    margin-left: 60px;
    height: 700px;
}


h2.title {
    font-size: 29px;
    margin-left: 7%;
}

.container-propos-title{
    font-size: 40px;
    margin-left: 13%;
    font-weight: bold;
}

.container-propos-title2{
    font-weight: bold;
}


.container-propos-title3{
    font-weight: bold;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; /* pour centrer verticalement */
    justify-content: center; /* pour centrer horizontalement */
    background-color: #17202A;
    color: #fff;
    padding: 10px;
}


.container{
    position: absolute;
    top: 20%;
    left: 40%;
    border: 3px solid #17202A;
    padding: 20px;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 3%;
}

div.container-title{
    margin-left: 13%;
    text-decoration: underline;
    font-size: 30px;
}

div.container-body{
    font-size: 25px;
}

container-propos-title{
    margin-left: 13%;
    text-decoration: underline;
    font-size: 40px;
}


.container-dev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.name-container {
    margin-right: 100px;
    width: 170px;
    margin-bottom: 10PX;
}

.logo-social {
    width: 35px;
    margin-right: 10px;
}

.logo-social-container {
    display: flex;
    flex-direction: row;
}

.name{
    padding-right: 20px;
    font-size: 20px;
    width: 190px;
    padding-bottom: 10px;
}

.materiel-body{
    margin-left: 50px;
}

.logo-information{
    width: 50px;
    margin-right: 10px;
}

.title-materiel-body-container{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 10px 10px;
    background: #273746;
    height: auto;
    width: auto;
}

.A-materiel-body-container{
  margin-bottom: 40px;
}

.container-body-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}
  
.materiel-body-container{
    height: 600px;
    width: 1400px;
    margin-top: 4%;
    margin-left: 6%;
    background-color: #212F3D;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    padding-bottom: 25px;
}


  
/* @media only screen and (max-width: 3840px) {
    .materiel-body-container {
        width: auto;
        height: auto;
    }

} */

/* Règles pour les écrans de petite taille (ex: téléphones) */
@media only screen and (max-width: 600px) {
    /* Ajustez la taille du texte */
    body {
      font-size: 14px;
    }

    /* Ajustez la taille des images */
    img {
      max-width: 100%;
    }
    /* Ajustez l'espacement entre les éléments */
    .container {
      padding: 20px;
    }
    .materiel-body-container {
        width: auto;
        height: auto;
    }
    .container-body-other{
        width: auto;
        height: auto;
    }
    .buttom-body-scan{
       width: auto;
        height: auto;
    }

}
  
  /* Règles pour les écrans de taille moyenne (ex: tablettes) */
@media only screen and (min-width: 450px) and (max-width: 1024px) {
    /* Ajustez la taille des images */
    img {
      max-width: 100%;
    }
    /* Ajustez l'espacement entre les éléments */
    .container {
      padding: 20px;
    }
    .materiel-body-container {
        width: 1800px;
        height: auto;
    }
    .container-body-other{
        width: 70%;
        height: auto;
    }
    .buttom-body-scan{
       width: auto;
        height: auto;
    }
}
  
  /* Règles pour les écrans de grande taille (ex: ordinateurs) */
@media only screen and (min-width: 1920px) and (min-height: 929px) and (max-width: 2560px) and (max-height: 1120px) {
    /* Ajustez la taille du texte */
    .materiel-body-container {
        width: auto;
        height: auto;
    }
    .container-body-other{
        width: auto;
        height: auto;
    }
    .buttom-body-scan{
       width: auto;
        height: auto;
    }
    .logo3 {
        width: 35%;
        margin-left: 60px;
        height: 650px;
    }
    .container-propos-body {
        position: fixed;
        top: 10%;
        left: 37%;
    }

}

@media only screen and (min-width: 2500px) and (in-height: 1200px) and (max-width: 3840px) and (max-height: 1600px){
    /* Ajustez la taille du texte */
    .materiel-body-container {
        width: auto;
        height: auto;
    }
    .container-body-other{
        width: auto;
        height: auto;
    }
    .buttom-body-scan{
       width: auto;
        height: auto;
    }
    .logo3{
        width: auto;
        margin-left: 60px;
        height: 900px;
    }
    .container-propos-body{
        top: 10%;
        left: 37%;
        font-size: 20px;
    }
}

.parent-container-propos-body{
    display: flex;
}



.container-body-other{
    height: 600px;
    width: 1500px;
    margin-top: 4%;
    margin-left: 1%;
    background-color: #212F3D;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    padding-bottom: 20px;
}

.container-body-script{
    display: contents;
}



.container-body-speedtest{
    background-color: #273746;
    border-radius: 20px 20px 20px 20px;
    width: 30%;
    height: auto;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.container-body-scan{
    background-color: #273746;
    border-radius: 20px 20px 20px 20px;
    width: 67%;
    height: auto;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.container-title-speedtest{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    background-color:  #2C3E50;
    border-radius: 20px 20px 20px 20px;

}

.container-title-scan{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    background-color:  #2C3E50;
    border-radius: 20px 20px 20px 20px;
}

.container-text1-speedtest{
    margin-left: 5%;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-block-speedtest{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-top: 5%;
    flex-direction: column;
}

.Bouttom-speedtest{
    margin-top: 20%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.buttom-body{
    width: 100px;
    height: 50px;
    background-color: #1C2833;
    font-size: 25px;
    border-color: transparent;
    border-radius: 20px 20px 20px 20px;
    color: white;
}

.form1{
    margin-top: 5%;
    display: flex;
}

.form2{
    display: flex;
    flex-wrap: nowrap;
    width: 100px;
    margin: 0 auto;
    margin-top: 100px;
    flex-direction: row;
}

.buttom-body-scan{
    width: 200px;
    height: 70px;
    background-color: #1C2833;
    font-size: 25px;
    border-color: transparent;
    border-radius: 20px 20px 20px 20px;
    color: white;
    float: left;
    margin: 0 auto;
}



.container-text2-scan{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 200%;
    width: 500px;
    align-content: center;
    margin: 0 auto;
}

.image-text-scan{
    width: 10%;

}

.tableau-scan{
    margin: 0 auto;
}



td {
    border: 1px solid black;
    background-color: #17202A;
    padding: 10px;
}

tr{
    border: 3px solid black;
    background-color: #17202A;
    padding: 10px;
} 

tbody{

    padding: 10px;
    margin-top: 100px;
    display: table;
}