[Unit]
Description=Api Semabox
After=network.target

[Service]
User=root
Restart=always
WorkingDirectory=/Semabox/SemaAPI
ExecStart=python /Semabox/SemaAPI/API.py

[Install]
WantedBy=multi-user.target