[Unit]
Description=Api Semabox
After=network.target

[Service]
User=root
WorkingDirectory=/Semabox/SemaAPI
ExecStart=/Semabox/SemaAPI/API.py

[Install]
WantedBy=multi-user.target