<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>SemaWEB</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/styles.css') }}">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/images/developer.png')}}" />
    </head>

    <body id="body">
        <nav>
            <div class="brand">
                <img src="{{url_for('static', filename='assets/images/cube.png')}}" alt="logo" width="50px" class="logo">
                <span class="brand-name">SemaWEB</span>
            </div>
            <a href="/">Home</a>
            <a href="/tools">Tools</a>
            <a href="/propos">About us</a>
        </nav>
        <section>
            <div class="container-body-all">
                <div class="materiel-body-container">
                    <div class="title-materiel-body-container">
                        <img src="{{url_for('static', filename='assets/images/computer.svg')}}" alt="logo2" class="logo-information">
                        <h1>Information Système</h1>
                    </div>
                    <div class="materiel-body">
                        <div class="A-materiel-body-container">
                            <h3>- OS : {{materiel["os_name"]}} 🖥️</h3>
                        </div>
                        <div class="A-materiel-body-container">
                            <h3>- Nombre de Coeurs CPU : {{materiel["num_cpus"]}} 🫀</h3>
                        </div>
                        <div class="A-materiel-body-container">
                            <h3>- Utilisation du CPU : {{materiel["cpu_utilization"]}} %</h3>
                        </div>
                        <div class="A-materiel-body-container">
                            <h3>- Taille RAM : {{materiel["ram_size_go"]}} Go</h3>
                        </div>
                        <div class="A-materiel-body-container">
                            <h3>- Nombre de Disques : {{materiel["num_disks"]}} 💾</h3>
                        </div>
                        <div class="A-materiel-body-container">
                            <h3>- L'Espace d'un disque : {{materiel["disks"]}} Go</h3>
                        </div>
                        <div class="A-materiel-body-container">
                            <h3>- Serveur allumée depuis {{materiel["uptime_hours"]}} H ♾️</h3>
                        </div>
                        <div class="A-materiel-body-container">
                            {% if etat["etat_semabox"] == "up" %}
                                <h3>- Etat de la Semabox : {{etat["etat_semabox"]}} ✅</h3>
                            {% else %}
                                <h3>- Etat de la Semabox : {{etat["etat_semabox"]}} ❌</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="container-body-other">
                   <div class="container-body-script">
                        <div class="container-body-speedtest">
                            <div class="container-title-speedtest">
                                <h1>Speedtest</h1>
                            </div>
                            <div class="container-text1-speedtest">
                                <h3>IP Public : {{ip["ip_public"]}}</h3>
                            </div>
                            <div class="container-block-speedtest"> 
                                {% if speedtest %}
                                    <div class="container-text2-speedtest">
                                        <h3>- Ping : {{speedtest["ping"]}} ms </h3>
                                    </div>
                                    <div class="container-text3-speedtest">
                                        <h3>- Download : {{speedtest["download_speed"]}} Mbit/s</h3>
                                    </div>
                                    <div class="container-text4-speedtest">
                                        <h3>- Upload : {{speedtest["upload_speed"]}} Mbit/s</h3>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="Bouttom-speedtest">
                                <form action="{{ url_for('tools') }}" method="post" class="form1">
                                    <button class="buttom-body" name="go" type="submit">Go</button>
                                    <button class="buttom-body" name="reset" type="submit">Reset</button>
                                </form>
                            </div>
                        </div>
                        <div class="container-body-scan">
                            <div class="container-title-scan">
                                <h1>Scan Nmap</h1>
                            </div>
                                {% if scan_results %}
                                    <table class="tableau-scan">
                                        <tr>
                                            <th>Port</th>
                                            {% for key, value in scan_results %}
                                                <td>{{ value['port'] }}/tcp</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <th>Etat</th>
                                            {% for key, value in scan_results %}
                                                <td>{{ value['state'] }}✅</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <th>Service</th>
                                            {% for key, value in scan_results %}
                                                <td>{{ value['service'] }}</td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                {% else %}
                                <div class="container-text2-scan">
                                    <p>Aucun Scan encours...</p><br>
                                    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Travel%20and%20places/Hourglass%20Not%20Done.png" alt="Hourglass Not Done" class="image-text-scan" />
                                </div>
                                {% endif %}
                            <form action="{{ url_for('tools') }}" method="post" class="form2">
                                    <button class="buttom-body-scan" name="scan" type="submit">Scan</button>
                                    <br>
                                    <button class="buttom-body-scan" name="reset" type="submit">Reset</button>
                            </form>
                        </div>
                   </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="brand">
                <p class="brand-name">Copyright© 2023 SemaWEB</p>
            </div>
        </footer>
    </body>
</html>
