<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>SemaWEB</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/styles.css') }}">

    </head>

    <body id="body">
        <nav>
            <div class="brand">
                <img src="{{url_for('static', filename='assets/images/cube.png')}}" alt="logo" width="50px" class="logo">
                <span class="brand-name">SemaWEB</span>
            </div>
            <a href="/">Home</a>
            <a href="/tools">Tools</a>
            <a href="/propos">A propos</a>
        </nav>

        <footer>
            <div class="brand">
                <img src="{{url_for('static', filename='assets/images/cube.png')}}" alt="logo" width="50px" class="logo">
                <p class="brand-name">Copyright© 2023 SemaWEB</p>
            </div>
        </footer>
    </body>
</html>
