[Unit]
Description=Api Samabox
After=network.target

[Service]
User=root
WorkingDirectory=/Samabox/Samabox-api
ExecStart=/Samabox/Samabox-api/API.py

[Install]
WantedBy=multi-user.target